<%= form_for @flight, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.time_select :time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destination, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :destination, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :memo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :memo, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :status, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :passengers_num, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :passengers_num, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_reservation, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :is_reservation, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  flights_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
